<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <classes>
    <class name="com.adidas.APIAutomation.GetAvailablePets"></class>
    <class name="com.adidas.APIAutomation.AddNewPet"></class>
    <class name="com.adidas.APIAutomation.UpdatePetStatus"></class>
    <class name="com.adidas.APIAutomation.DeletePet"></class>
  </classes>

  </test> <!-- Test -->
</suite> <!-- Suite -->
